@font-face {
    font-family: "unifont";
    src: url(/unifont.woff);
}
@font-face {
    font-family: "minecraft";
    src: url(/minecraft.woff);
}
:root{
    --white0: #fff;
    --white1: #eee;
    --black0: #000;
    --black1: #111;
    --white-glass: rgba(255, 255, 255, 0.1);
    --black-glass: rgba(0, 0, 0, 0.1);
    --glass: blur(1rem);
    --glow: 0 0 .1rem currentColor;
    scrollbar-width: none;
}
*{
    font-family: "minecraft", "unifont", sans-serif;
    font-weight: 400;
}
body{
    margin: 0;
    font-size: 16px;
    background: var(--black0);
}
.header{
    position: fixed;
    height: 4rem;
    background: var(--white-glass);
    border: 1px solid var(--white-glass);
    border-radius: 2rem;
    width: calc(100dvw - 6rem);
    margin: 1rem;
    z-index: 9999;
    animation: header linear;
    animation-timeline: scroll();
}
.header-list{
    padding: 0 2rem;
    margin: 0;
}
.header-item{
    list-style: none;
    height: 4rem;
    display: flex;
    align-items: center;
    animation: header-item linear;
    animation-timeline: scroll();
}
.header-link{
    color: var(--white0);
    text-decoration: none;
    font-size: 1rem;
}
.full{
    width: 100dvw;
    height: 100dvh;
}
.title-page{
    background: conic-gradient(#100, #110, #010, #011, #001, #101, #100);
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    position: sticky;
    top: 1rem;
    width: 50dvw;
    filter: drop-shadow(0 0 5rem rgba(255, 0, 0, 0.25));
    animation: title linear;
    animation-timeline: scroll();
}
@keyframes header {
    0% {
        width: 0;
        height: 0;
        left: calc(50dvw - 1rem);
        top: 2rem;
        border: 0 solid var(--white-glass);
    }
    25% {
        width: 4rem;
        height: 4rem;
        left: calc(50dvw - 3rem);
        top: 0;
        border: 1px solid var(--white-glass);
    }
    100% {
        width: calc(100dvw - 6rem);
        height: 4rem;
        left: 0;
    }
}
@keyframes header-item {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes title {
    0% {
        width: 50dvw;
        height: auto;
    }
    25%{
        width: 15dvw;
    }
    100%{
        width: 15dvw;
    }
}